.dev{
    
    
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    padding: 7px;
    align-items: center;
}
.justify-content-end{
    margin: 0px;
}
.nav-item{
    position: relative;
    top: 15px;
    
    margin: 5px;
    display:inline-block;
    width: 150px;
}
.list{
    color: black;
}
.nav-item1{
    position: relative;
    right: 100px;
    margin: 5px;
    display:inline-block;
    width: 150px;
}
.main{
    position: relative;
    right:600px ;
    display:inline-block;
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.graphity{
    position: relative;
    top: 190px;
    font-size: 500%;
    text-align: right;
    color: bisque;
    margin-right: 40px;
    
}
.dev2{
    background-color: black;
    height: 500px;
}
.dev3{
    
    height: 500px;
}
.my{
    position: relative;
    top: 20px;
    font-size: 200%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.dev4{
    
    position: relative;
    top: 50px;
    height: 100px;
}
.avi{
    height: 200px;
    position: relative;
    left: 100px;
}
.cer{
    height: 200px;
    position: relative;
    left: 200px;
}
.inn{
    height: 200px;
    position: relative;
    left: 300px;
}
.ts{
    height: 200px;
    position: relative;
    left: 370px;
    top:25px;
}
.vdo{
    height: 200px;
    position: relative;
    left: 150px;
}
.mas{
    height: 200px;
    position: relative;
    left: 370px;
}
.open{
    height: 200px;
    position: relative;
    left: 900px;
}
.bad{
    height: 200px;
    position: relative;
    left: 450px;
}
.dev5{
    position: relative;
    top: 100px;
    background-color: black;
    height:500px ;
}
